.settings-container {
  padding: 70px 5%;
}
.settings-container form {
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 10px;
  border-radius: 5px;
  margin-top: 20px;
}
.settings-container form h3 {
  text-align: center;
  margin-top: 20px;
  font-weight: bold;
}
.settings-container form label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}
.settings-container form input {
  display: block;
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  outline: none;
  border-radius: 3px;
  padding: 5px 7px;
  margin-bottom: 20px;
}

@media screen and (max-width: 500px) {
  .settings-container {
    padding: 70px 1%;
  }
}
