.trade {
  padding-top: 70px;
  color: white;
}

.trade .info {
  padding-left: 10px;
  padding-bottom: 10px;
}

.buy-sell {
  position: fixed;
  bottom: 60px;
  left: 0px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding: 10px;
}

.showBox,
.hideBox {
  transition: 0.3s ease-in-out;
  height: 370px;
  width: 100%;
  z-index: 1000000000000;
  padding: 20px 10px !important;
}

.hideBox {
  position: fixed;
  bottom: 0;
  transform: translateY(100%);
}

.showBox {
  position: fixed;
  bottom: 0;
  transform: translateY(0);
}

tr {
  padding: 5px 0px !important;
}

tr th:first-child,
tr td:first-child {
  text-align: left;
}

tr th:last-child,
tr td:last-child {
  text-align: right;
}

.buy-form {
  padding: 0px !important;
}

.buy-form input {
  display: block;
  margin-top: 3px !important;
  background-color: rgba(0, 0, 0, 0.05);
  color: rgba(256, 256, 256, 0.5);
  padding: 5px 10px !important;
}

.close-icon {
  position: absolute;
  top: 15px;
  right: 10px;
  cursor: pointer;
}

.trade-modal-cover {
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 111111111111111111111111111;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.trade-modal {
  background-color: white;
  width: 300px;
  padding: 10px !important;
}

.hide-modal {
  font-display: none;
}

.btn-primary.active {
  background-color: #198754;
  border-color: #198754;
  color: white;
}

@media screen and (max-width: 500px) {
  h6 {
    font-size: 15px;
  }
}

.reload {
  background-color: rgba(256, 256, 256, 0.3);
  border-radius: 50%;
  font-size: 35px;
  cursor: pointer;
}
